.title{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.container{
    display: flex;
    text-align:center;
}
.flex{
    flex-grow: 1;
    padding: 100 px;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

.jam {
    border: 2px solid #4d4d4d;
    padding: 10px;
    margin: 10px;
    margin-left:5px;
    margin-right:5px;
    width: calc(100vw / 3 - 40px);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.subheading {
    border: 2px solid #4d4d4d;
    padding: 10px;
    margin: 10px;
    margin-left:5px;
    margin-right:5px;
    width: calc(100vw / 2 - 40px);
    line-height: 10px;

}

.item_details{
    display:flex;
    text-align:left;
    padding-left:50px;
    padding-top:10px;
    padding-bottom:10px;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

.user{
    border: 1px solid #4d4d4d;
    width: 200px;
    line-height:0px;
    text-align: center;
    margin:auto;
    margin-top:5px;
}

.post{
    width:100vw;
    border: 1px solid #4d4d4d;
    margin-left:11px;
    margin-right:10px;
    text-align: left;
    padding-left: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.comment{
    margin-left:35px;
    margin-top:30px;
    display:inline-flex;
}

.reply_button{
    margin-top:20px;
    height:20px;
}

#future{
    background-color: rgb(191, 3, 44);
}
#ongoing{
    background-color: rgb(123,13,30);
}
#past{
    background-color: rgb(98, 6, 26);
}
#button_div{

    background-color: rgb(166,15,45);
    display: flex;
    justify-content: right;
}

#footer_button{
    justify-content: right;
    display:flex
}

#info_subheading{
    border: 2px solid #4d4d4d;
    margin:10px
}
#submissions{
    background-color: blue;
}
#participants{
    background-color: red;
}
.input_div{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}
.header_button{
    padding-left: 10px;
}
a:visited {
    color: inherit; /* or any color you want */
}
a {
    text-decoration: none;
}
button{
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}
body {
    background-color:rgb(40,43,48)
}
h1 {
    color: white;
}
h2 {
    color: white;
}
h3 {
    color: white;
}
h4 {
    color: white;
}
h5 {
    color: white;
}
h6 {
    color: white;
}
p {
    color: white;
}
li {
    color:white
}
label {
    color:white
}
button{
    background-color: rgb(53, 53, 53);
    color:white;
}