.title{
    text-align: center;
}
.container{
    display: flex;
    text-align:center;
}
.flex{
    flex-grow: 1;
    padding: 100 px;
    
}

.jam {
    border: 2px solid #000;
    padding: 10px;
    margin: 10px;
    margin-left:5px;
    margin-right:5px;
    width: calc(100vw / 3 - 40px);
}

.item_details{
    display:flex;
    text-align:left;
}

#future{
    background-color: red;
}
#ongoing{
    background-color: green;
}
#past{
    background-color: blue;
}
#button_div{

    background-color: aquamarine;
    display: flex;
    justify-content: right;
}
#return_div{

    background-color: aquamarine;
    display: flex;
    justify-content: left;
}

#footer_button{
    justify-content: right;
    display:flex
}

#info_subheading{
    border: 2px solid #000;
    margin:10px
}

.input_div{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.header_button{
    padding-left: 10px;
}
a:visited {
    color: inherit; /* or any color you want */
}
a {
    text-decoration: none;
}